<%- include('layout/cabinet/header'); -%>
<div class="container-fluid">
  <div class="row">
    <%- include('components/cabinet/nav'); -%>
    <%- include('components/cabinet/stats'); -%>
  </div>
</div>
<%- include('layout/cabinet/footer'); -%>