:root {
	// colors
	--color-white: #ffffff;
	--color-dark: #19191D;

	--color-gray: #5A5B6A;
	--color-gray-rgb: 90, 91, 106;
	--color-very-light-gray: #EDEDF0;
	--color-light-gray: #787885;

	--color-blue: #55a4dd;
	--color-blue-rgb: 85, 164, 221;
	--color-blue-light: #9DC2FF;
	--color-very-light-blue: #EBF2FF;
	--color-light-blue: #2979FF;
	--color-dark-blue: #1b1b27;

	--color-success: #64b44d;
	--color-success-rgb: 100, 180, 77;
	--color-success-light: #a4dfa4;

	--color-danger: #f64a35;
	--color-danger-rgb: 246, 74, 53;
	--color-danger-light: #fb5e4b;

	// other
	--z-sticky: 50;
	--space: 1.25rem;
}