// ROOT VARIABLES
@import "./variables";

// ANIMATIONS
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

// npm install
// epic-spinners
.breeding-rhombus-spinner {
	margin: 2rem auto !important;
	.rhombus {
		background-color: rgb(168 85 247 / var(--tw-bg-opacity)) !important;
	}
}

// COMPONENTS
@import "./components/toasts";

// SCROLLBAR
body::-webkit-scrollbar {
	display: none;
}