<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
        <h1 class="h2">Отчеты</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    Поделиться
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    Экспорт
                </button>
            </div>
            <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary dropdown-toggle"
            >
                <span data-feather="calendar" class="align-text-bottom"></span>
                Эта неделя
            </button>
        </div>
    </div>

    <div class="info mb-5">
        <div class="container">
            <div class="row row-cols-7 text-center">
                <div class="col col--1">
                    <p class="info-title">Всего сайтов</p>
                    <p class="info-number">0</p>
                </div>
                <div class="col col--2">
                    <p class="info-title">Проверенно</p>
                    <p class="info-number">0</p>
                </div>
                <div class="col col--7">
                    <p class="info-title">Содержат код</p>
                    <p class="info-number">0</p>
                </div>
                <div class="col col--3">
                    <p class="info-title">Не содержат</p>
                    <p class="info-number">0</p>
                </div>

            </div>
        </div>
    </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>Все задачи на парсинг</h2>
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-success">
                    Создать задачу
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    Остановить
                </button>
            </div>
        </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Д. нач.</th>
                <th scope="col">Д. окон.</th>
                <th scope="col">Проверенно</th>
                <th scope="col">Содержат код</th>
                <th scope="col">Не содержат</th>
                <th scope="col">Статус</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>random</td>
                <td>data</td>
                <td>placeholder</td>
                <td>text</td>
                <td>text</td>
                <td>text</td>
                <td>
                    <a id="additional" href="#" type="button" class="btn btn-outline-success btn-sm">Подробнее</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</main>